<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ClusterMembers" value="tcp://localhost:5555,tcp://localhost:5556,tcp://localhost:5557,tcp://localhost:5558,tcp://localhost:5559" />
        <add key="ClusterMemberId" value="0" />
        <add key="ClusterMemberEndpoint" value="tcp://*:5555" />
    </appSettings>
</configuration>